<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AssemblyDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AssemblyManager;Integrated Security=True;" />
    <add name="MasterDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;" />
  </connectionStrings>
</configuration>
